#footer {
	@include whitespace-top;
	.social {
		justify-content: flex-end;
		li {
			@include bold-title;
			font-size: 18px;
		}
	}
	.sub-footer {
		.cell,
		.cell * {
			@include letter-spaced;
			font-weight: normal;
		}
	}
	hr.black {
		border-top: 2px solid black;
		margin-top: 10px;
		margin-bottom: 10px;
		@include breakpoint(small) {
			margin-left: 0.625rem;
			margin-right: 0.625rem;
		}
		@include breakpoint(medium) {
			margin-left: 0.9375rem;
			margin-right: 0.9375rem;
		}
	}
	.footer-logo {
		width: auto;
		height: 20px;
		padding: 4px;
	}
	form input.button {
		margin-left: 25px;
		font-size: 18px;
	}
	form input.button,
	.social {
		height: 34px;
	}
}
