{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
      <div class="post-body">
        <div class="hero">
          <video poster="data:image/gif,AAAA" muted playsinline="" autoplay="" loop="" preload="none" id="player" data-src="{{ page.get_field('vimeo_link') }}"></video>
          <a href="#" class="mute hide-for-small-only">
              <i class="fa fa-volume-off">Sound</i>
          </a>
          <div class="parallax">
            <h1>Cinematic Group</h1>
          </div>
        </div>
        <section class="grid-container features-grid" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
          <div class="grid-x grid-padding-x small-up-1 medium-up-2">
            {% for post in posts | slice(null,2) %}
            <div class="cell">
              {% include 'tease-post.twig' with { 'wide': true } %}
            </div>
            {% endfor %}
          </div>
        </section>
        <section class="grid-container" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
          <div class="grid-x grid-padding-x small-up-1 medium-up-3">
            {% for post in posts | slice(2,5) %}
            <div class="cell">
              {% include 'tease-post.twig' with { 'blazy' : false } %}
            </div>
            {% endfor %}
          </div>
        </section>
        <!-- <section class="grid-container">
          <div class="text-center">
            <a href="/blog">View More</a>
          </div>
        </section> -->
        <section class="grid-container">
          <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
            <div class="cell">
              <a href="/shop" class="image-block">
                <img src="{{theme.path}}/static/img/shop-tout.jpg" alt="">
                <div class="overlay">
                  <h2>Cinematic Shop</h2>
                  <p>Shop Now</p>
                </div>
              </a>
            </div>
            <div class="cell">
              <a href="/radio" class="image-block">
                <img src="{{theme.path}}/static/img/radio-tout.jpg" alt="">
                <div class="overlay">
                  <h2>Cinematic Radio</h2>
                  <p>Listen Now</p>
                </div>
              </a>
            </div>
            <div class="cell">
              <a href="/tv" class="image-block">
                <img src="{{theme.path}}/static/img/tv-tout.jpg" alt="">
                <div class="overlay">
                  <h2>Cinematic TV</h2>
                  <p>Watch Now</p>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="loading-container">
      <div class="underside"></div>
      <div id="loading-bar"></div>
      <h2 class="enter">Enter</h2>
      <div class="curtain">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bottom"></div>
      </div>
    </div>
    <!-- /content-wrapper -->
{% endblock %}
