.base-title {
	@include bold-title;
	text-align: center;
	padding-top: 50px;
}

.archive,
.catgeory,
.blog {
	.blog-nav .base-title {
		margin-bottom: 0px;
	}
}

// post nav
.post-categories {
	justify-content: center;
	margin: 0 auto 50px auto;

	.cell:not(:last-child) {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			margin-top: -0.3em;
			top: 50%;
			right: 0;
			height: 0.8em;
			width: 2px;
			background: black;
		}
	}
	a {
		@include letter-spaced;
		font-weight: bold;
	}
}
