<li>
  <a target="_blank" class="social-link" title="See us on Spotify"  href="https://open.spotify.com/"><i class="fa fa-spotify"></i> Spotify
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Soundcloud"  href="https://soundcloud.com/"><i class="fa fa-soundcloud"></i> Soundcloud
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Youtube"  href="https://open.spotify.com/"><i class="fa fa-spotify"></i> Youtube
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Tumblr"  href="https://www.tumblr.com/"><i class="fa fa-tumblr"></i> Tumblr
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Instagram"  href="https://www.instagram.com/"><i class="fa fa-instagram"></i>Instagram
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook
  </a>
</li>
<li>
  <a target="_blank" class="social-link" title="See us on Twitter"  href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter
  </a>
</li>
